<div class="overlay js-menu-container">
  <div class="container burger-container">
    <button class="burger-button-close js-close-menu">
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="burger-nav">
      <ul class="burger-menu-wrapper">
        <li>
          <a class="burger-menu-list-item mobile-modal-link" href="#about-me"
            >About me</a
          >
        </li>
        <li>
          <a class="burger-menu-list-item mobile-modal-link" href="#benefits"
            >Benefits</a
          >
        </li>
        <li>
          <a class="burger-menu-list-item mobile-modal-link" href="#projects"
            >Projects</a
          >
        </li>
        <li>
          <a class="burger-menu-list-item mobile-modal-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="burger-link mobile-modal-link" href="#work-together">
      Order the project
    </a>
  </div>
</div>
