<section class="covers section">
  <h2 class="visually-hidden">Covers</h2>
  <ul class="covers-list">
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy"
            srcset="img/projects/energy.webp 1x, img/projects/energy_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/fruitbox.webp"
            alt="fruitbox"
            srcset="
              img/projects/fruitbox.webp    1x,
              img/projects/fruitbox_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            srcset="img/projects/chego.webp 1x, img/projects/chego_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/power-pulse.webp"
            alt="Power"
            srcset="
              img/projects/power-pulse.webp    1x,
              img/projects/power-pulse_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/mimino.webp"
            alt="mimino"
            srcset="img/projects/mimino.webp 1x, img/projects/mimino_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/vegetables.webp"
            alt="Green"
            srcset="
              img/projects/vegetables.webp    1x,
              img/projects/vegetables_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            srcset="
              img/projects/starlight.webp    1x,
              img/projects/starlight_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            srcset="
              img/projects/english.webp    1x,
              img/projects/english_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            srcset="
              img/projects/english.webp    1x,
              img/projects/english_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            srcset="img/projects/chego.webp 1x, img/projects/chego_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/wallet.webp"
            alt="Wallet"
            srcset="img/projects/wallet.webp 1x, img/projects/wallet_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            srcset="
              img/projects/starlight.webp    1x,
              img/projects/starlight_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            srcset="
              img/projects/starlight.webp    1x,
              img/projects/starlight_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/vegetables.webp"
            alt="Green"
            srcset="
              img/projects/vegetables.webp    1x,
              img/projects/vegetables_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy"
            srcset="img/projects/energy.webp 1x, img/projects/energy_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/fruitbox.webp"
            alt="fruitbox"
            srcset="
              img/projects/fruitbox.webp    1x,
              img/projects/fruitbox_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy"
            srcset="img/projects/energy.webp 1x, img/projects/energy_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/mimino.webp"
            alt="mimino"
            srcset="img/projects/mimino.webp 1x, img/projects/mimino_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            srcset="img/projects/chego.webp 1x, img/projects/chego_2x.webp 2x"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/power-pulse.webp"
            alt="Power"
            srcset="
              img/projects/power-pulse.webp    1x,
              img/projects/power-pulse_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            srcset="
              img/projects/english.webp    1x,
              img/projects/english_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            srcset="
              img/projects/starlight.webp    1x,
              img/projects/starlight_2x.webp 2x
            "
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
  </ul>
</section>
