.work-together {
  /* background-image: url('/img/mobile/work-together-elements@2x.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: center; */
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: hidden;
  position: relative;
}
.work-together .container {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.title-work {
  position: relative;
  display: flex;
  gap: 8px;
}

.logo-wrapper {
  width: 44px;
  flex-shrink: 0;
}

.logo-wrapper img {
  width: 44px;
  height: 44px;
}
.work-together-title {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.blush-color-things {
  color: #c6e327;
}
.line-bottom {
  position: absolute;
  top: calc(44px + 8px);
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 111px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.email-wrapper {
  padding-bottom: 16px;
  position: relative;
}
.comments-wrapper {
  position: relative;
}

.email,
.comments {
  position: relative;

  gap: 20px;
  width: 343px;
  height: 44px;
}
.email:hover,
.comments:hover {
  color: var(--white);
}
.email-wrapper input {
  width: 100%;
  padding-bottom: 20px;
  border: none;
  border-bottom: 2px solid rgba(250, 250, 250, 0.6);
  background: transparent;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.6);
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}

.comments-wrapper textarea {
  width: 100%;
  padding-bottom: 2px;
  border: none;
  border-bottom: 2px solid rgba(250, 250, 250, 0.6);
  background: transparent;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.6);
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}
.contact-form {
  margin-bottom: 66px;
}
.email-wrapper input::placeholder,
.comments-wrapper textarea::placeholder {
  color: rgba(250, 250, 250, 0.4);
}
.input-wrapper input:hover,
.input-wrapper textarea:hover {
  border-color: var(--white);
}
.input-wrapper input,
.input-wrapper textarea {
  transition: border-color 0.3s ease;
}

.email-wrapper input.valid,
textarea.valid {
  border-bottom: 1px solid var(--success);
}

.email-wrapper input.invalid,
textarea.invalid {
  border-bottom: 1px solid var(--invalid-form);
}
.validation-message.success {
  color: var(--success);
}

.validation-message.error {
  color: var(--invalid-form);
}

.email-wrapper.error input {
  border-bottom-color: var(--invalid-form);
}

.email-wrapper.error .email-message {
  color: var(--invalid-form);
  display: block;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.879);
  border-top: 4px solid var(--green);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
.btn-work {
  background-color: var(--green);
  color: var(-white);
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.btn-work:hover {
  background-color: var(--green-hover);
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 4px;

  padding-top: 64px;
}
@media (max-width: 349.98px) {
  .contact-info {
    flex-direction: column;
    max-width: 100%;
  }
}
.work-list-email {
  min-width: 178px;
}
.work-list-tel {
  min-width: 118px;
}
.work-list-email,
.work-list-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(247, 236, 236, 0.167);
  border-radius: 60px;

  height: 37px;
  text-align: center;
}

.work-list-email a,
.work-list-tel a {
  font-size: 14px;
  letter-spacing: -0.02em;
}
.work-list-tel a {
  width: 118px;
}
.work-list-email:hover,
.work-list-tel:hover {
  border-color: var(--white);
}
.work-list-email,
.work-list-tel {
  transition: border-color 0.3s ease;
}

.backdrop {
  position: fixed;

  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  max-width: 343px;
  max-height: 276px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--background);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  position: relative;
  transition: transform 250ms ease;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.close-modal svg {
  display: block;
  width: 24px;
  height: 24px;
}

.modal-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
}

.modal-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .work-together {
    padding-top: 80px;

    padding-bottom: 169px;
    /* background-image: url('/img/tablet/work_together-lap-2x.png'); */
  }
  .work-together .container {
    padding-bottom: 0;
    padding-left: 32px;
  }
  .title-work {
    gap: 20px;
  }
  .logo-wrapper {
    width: 70px;
  }
  .logo-wrapper img {
    width: 70px;
    height: 70px;
  }
  .work-together-title {
    font-size: 64px;
  }
  .line-top {
    padding-top: 32px;
  }
  .line-bottom {
    padding-top: 10px;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 18px;
  }
  .input-wrapper {
    flex-direction: row;
    align-items: stretch;
    gap: 32px;
  }
  .email-wrapper {
    width: 245px;
    height: 44px;
  }
  .comments-wrapper {
    width: 245px;
    height: 44px;
    padding-right: 32px;
  }
  .btn-work {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
  }
  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .work-list-email a,
  .work-list-tel a {
    font-size: 16px;
    letter-spacing: -0.02em;
  }
  .work-list-email {
    min-width: 239px;
    min-height: 55px;
  }
  .work-list-tel {
    min-width: 171px;
    min-height: 55px;
  }

  .modal {
    max-width: 492px;
    max-height: 246px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .modal-text {
    max-width: 364px;
    min-height: 118px;
    text-align: center;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    gap: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .work-together {
    padding-left: 196px;
    /* background-image: url('/img/desktop/work_together-2x.jpg'); */
  }

  .input-wrapper {
    gap: 32px;
    justify-content: space-between;
  }
  .email-wrapper {
    width: 390px;
    height: 44px;
  }
  .comments-wrapper {
    width: 390px;
    height: 44px;
    padding-right: 86px;
  }
}
